// global color tokens
$-clr-white: hsl(0 0% 100%);
$-clr-light-gray: hsl(229 52% 96%);
$-clr-light-blue: hsl(227 100% 92%);
$-clr-deep-navy: hsl(235 35% 18%);
$-clr-midnight-blue: hsl(234 39% 14%);
$-clr-coral-pink: hsl(0 91% 71%);
$-clr-cyan: hsl(182 91% 71%);
$-clr-purple: hsl(284 89% 74%);

$light: (
  "neutral": (
    "100": $-clr-white,
    "200": $-clr-light-gray,
    "300": $-clr-light-blue,
    "800": $-clr-deep-navy,
    "900": $-clr-midnight-blue,
  ),
  "primary": (
    "400": $-clr-coral-pink,
    "500": $-clr-cyan,
    "600": $-clr-purple,
  ),
);
// contextual color tokens
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);

$color-primary-400: var(--primary-400);
$color-primary-500: var(--primary-500);
$color-primary-600: var(--primary-600);
