@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

$active-theme: $light;
$enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-neutral-300;
$color-background-default: $color-neutral-800;

// set to 0 to disable
$letter-spacing-one: -4px;
$letter-spacing-two: -5px;
$letter-spacing-three: 4px;
$letter-spacing-four: 5px;
$letter-spacing-five: 13px;
$letter-spacing-six: 15px;

$border-radius-1: 10px;
$border-radius-2: 15px;
$border-radius-3: 25px;

$box-shadow-1: -50px -50px 100px 0 hsl(234, 40%, 25%);
$box-shadow-2: 50px 50px 100px 0 hsl(235, 45%, 13%);

// body
$body-font-size: $font-size-400;
$body-line-height: 1.3;
$body-font-weight: $font-weight-regular;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

// layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$container-min-margin-inline: $size-6;
$container-max-width: 25.625rem;

// site header
$site-header-padding: $size-8 0;
$site-header-padding-tablet: $size-20 0 $size-16;
$site-header-padding-desktop: $size-12 0;

// buttons
$button-font-size: 1rem;
$button-padding: 1.125em 3em;
$button-border: 0;
$button-border-radius: 100vh;

$button-primary-color: $color-neutral-100;
$button-primary-background: $color-primary-400;
$button-primary-background-hover: hsla(0, 0%, 100%, 21%);

// dialog
$dialog-padding: $size-6;
$dialog-padding-large-screens: $size-10;
$dialog-border-radius: $border-radius-2;
$dialog-border-radius-large-screens: $border-radius-3;
$dialog-background-default: $color-neutral-100;
$dialog-color-default: $color-neutral-900;

// forms
$form-label-color: hsla(235, 35%, 18%, 0.4);
$form-label-font-size: $font-size-200;

$form-input-color: $color-neutral-800;
$form-input-font-size: $font-size-500;
$form-input-background-color: $color-neutral-200;
$form-input-border-default: none;
$form-input-padding: $size-4;
$form-input-border-radius: $border-radius-1;
