$-ff-sans: "Kumbh Sans", sans-serif;
$-ff-serif: "Roboto Slab", serif;
$-ff-mono: "Space Mono", monospace;

$font-family-sans: $-ff-sans;
$font-family-serif: $-ff-serif;
$font-family-mono: $-ff-mono;

$font-sizes: (
  "small": (
    "900": 4rem,
    "800": 1.25rem,
    "700": 0.875rem,
    "600": 0.9375rem,
    "500": 0.875rem,
    "400": 0.75rem,
    "300": 0.6875rem,
    "200": 0.75rem,
  ),
  "medium": (
    "900": 6.25rem,
    "800": 1.75rem,
    "700": 1rem,
    "600": 0.9375rem,
    "500": 0.875rem,
    "400": 0.875rem,
    "300": 0.8125rem,
    "200": 0.75rem,
  ),
);

$font-size-200: var(--fs-200);
$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);
$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);
$font-size-800: var(--fs-800);
$font-size-900: var(--fs-900);

$-fw-400: 400;
$-fw-700: 700;
$font-weight-regular: $-fw-400;
$font-weight-default: $-fw-700;
