---
import Layout from "../layouts/BaseLayout.astro";
import Settings from "../components/Settings.astro";
import TabList from "../components/TabList.astro";
import TabPanel from "../components/TabPanel.astro";

const tabs = [
  { id: "tab-1", label: "pomodoro", isSelected: true, controls: "tabpanel-1" },
  {
    id: "tab-2",
    label: "short break",
    isSelected: false,
    controls: "tabpanel-2",
  },
  {
    id: "tab-3",
    label: "long break",
    isSelected: false,
    controls: "tabpanel-3",
  },
];
---

<Layout title="Frontend Mentor | Pomodoro app">
  <div class="container">
    <TabList tabs={tabs} />

    <TabPanel id="1" label="Pomodoro" time="25:00" isVisible={true} />

    <TabPanel id="2" label="short break" time="05:00" isVisible={false} />

    <TabPanel id="3" label="long break" time="15:00" isVisible={false} />
  </div>
  <Settings />
</Layout>
