---

---

<header class="site-header">
  <div class="container">
    <div class="site-header__inner">
      <a href="/index.html">
        <img src="/assets/logo.svg" alt="" />
        <p class="visually-hidden">POMODORO APP</p>
      </a>
    </div>
  </div>
</header>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .site-header {
    padding: $site-header-padding;

    @include mq(medium) {
      padding: $site-header-padding-tablet;
    }

    @include mq(large) {
      padding: $site-header-padding-desktop;
    }

    &__inner {
      display: flex;
      gap: $size-4;
      justify-content: center;
    }
  }
</style>
