---
import BaseHead from "../components/BaseHead.astro";
import SiteHeader from "../components/SiteHeader.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead {title} />
  <body class="font-sans" style="--selected-color: var(--primary-400);">
    <SiteHeader />
    <main>
      <slot />
    </main>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
