@font-face {
  font-family: "Kumbh Sans";
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/KumbhSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/RobotoSlab-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/SpaceMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  font-display: swap;
  src: url("/public/assets/fonts/SpaceMono-Regular.ttf") format("truetype");
}
